html {
  font-family: Arial, Helvetica, sans-serif;
  background: #9F9F9F;
  letter-spacing: -1px;
}
nav div {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  background: #303030;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  background: whitesmoke;
  text-decoration: none;
  margin: 6px;
  padding: 3px;
  border-radius: 2px;
}

.navbar-custom .navbar-brand, .navbar-custom ul li {
  display: inline;
}

.navbar-custom .navbar-brand {
  color: purple;
}

.navbar-custom .navbar-nav .nav-link {
  color: white;
  margin: 8px;
  padding: 4px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
}

.navbar-custom .navbar-nav .nav-link:hover {
  text-align: center;
  background: purple;
  color: #FFFFFF;
  border-radius: 4px;
  transition: .5s ease-out;
}

.navbar-custom .navbar-nav .nav-link.active {
  text-align: center;
  background: purple;
  color: #FFFFFF;
  font-weight: bolder;
  border-radius: 4px;
}

h1, h2 {
  color: purple;
  font-weight: bolder;
}

hr {
  border: 1px solid;
}

footer, .date {
  background: #303030;  
  color: grey;
  padding: 4px;
  border-radius: 4px;
}

main ul {
  list-style: none;
}

main ul {
  display: contents;
}

main a {
  color: purple;
  text-decoration: none;
  transition: .25s ease-in-out;
}

main a:hover {
  color: black;
  transition: .25s;
}

main a:visited {
  color: purple;
  text-decoration: dotted;
}

main #btn-back {
  background: purple;
  color: grey;
  font-weight: bolder;
  padding: 4px;
  border-radius: 4px;
  transition: .5s ease-in-out;
}

main #btn-back:hover {
  background: white;
  color: purple;
  font-weight: bolder;
  padding: 4px;
  border-radius: 4px;
  transition: .5s;
}