@font-face {
  font-family: Hi;
  src: url('../fonts/HiBlack-n3a1.otf') format('truetype');
}

h1, h2 {
  font-family: Hi;
  color: purple;
  font-weight: bolder;
}

main a {
  color: purple;
  text-decoration: none;
  transition: .25s ease-in-out;
}

main a:hover {
  color: black;
  transition: .25s;
}

main a:visited {
  color: purple;
  text-decoration: dotted;
}

.navbar-custom {
  background: #C0C0C0;
  font-family: Hi;
}

.navbar-custom .navbar-brand {
  color: purple;
}

.navbar-custom .navbar-nav .nav-link {
  text-align: center;
  color: purple;
  margin: 4px;
  transition: 0.5s ease-in-out;
  border-radius: 4px;
}

.navbar-custom .navbar-nav .nav-link:hover {
  text-align: center;
  background: purple;
  color: #FFFFFF;
  border-radius: 4px;
  transition: .5s ease-out;
}

.navbar-custom .navbar-nav .nav-link.active {
  text-align: center;
  background: purple;
  color: #FFFFFF;
  font-weight: bolder;
  border-radius: 4px;
}

.footer, .date {
  background: #C0C0C0;
}
