html {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  color: darkmagenta;
  letter-spacing: -1px;
  max-width: 70ch;
  margin: auto;
}

@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}

.crt {
  animation: textShadow 1.6s infinite;
}

div .message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: purple;
  color: whitesmoke;
  padding: 4px;
  margin: 8px;
  border-radius: 4px;
}

.close-btn {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  color: purple;
  font-weight: bolder;
  margin-bottom: auto;
}

h3, h4, h5, h6 {
  border-left: 4px solid purple;
  padding: 1rem;
}

.logo {
  font-size: larger;
  font-weight: bolder;
  letter-spacing: -2px;
}

.tag-bar {
  display: flex;
  flex-wrap:wrap;
  align-content: space-between;
  margin-top: 0.5rem;
}

.vl {
  border-left: 2px solid purple;
  margin-left: 4px;
  margin-right: 4px;
}

.tag-bar .tag-btn-count {
  display: inline-grid;
  align-items: revert-layer;
}

.tag-btn .tag-count {
  display: inline-flex;
  vertical-align: text-top;
}

.tag-count {
  font-family: monospace, sans-serif;
  font-size: x-small;
  font-weight: bolder;
  background: whitesmoke;
  color: purple;
  border-radius: 8px;
  padding: 4px;
  margin-left: 4px;
  margin-right: 2px;
}

.tag-btn {
  background: purple;
  color: white;
  padding: 4px;
  margin-top: 4px;
  margin-right: 2px;
  border-radius: 4px;
  text-decoration: none;
  transition: .25s ease-in-out;
  font-variant: small-caps;
}

.tag-btn:hover {
  background: white;
  color: purple;
  transition: .25s ease-in;
}

.tag-btn:hover .tag-count {
  background: purple;
  color: white;
  transition: .25s ease-in;
}

#btn-back {
  background: purple;
  color: white;
  padding: 4px;
  border-radius: 4px;
  transition: .5s ease-in-out;
  border: none;
  font-variant: small-caps;
}

#btn-back:hover {
  background: white;
  color: purple;
  transition: .5s;
}

hr {
  border: 1px solid;
  color: purple;
}

footer, .date {
  background: purple;
  color: whitesmoke;
  padding: 4px;
  border-radius: 4px;
}

footer a {
  color: whitesmoke;
  text-decoration: underline dotted;
  font-variant: small-caps;
}

main ul {
  list-style: none;
  display: contents;
}

.date {
  margin-top: 0.5rem;
}

.a-date {
  font-family: Monospace;
  font-size: larger;
}

main a {
  color: purple;
  text-decoration: none;
  transition: .25s ease-in-out;
}

main a:hover {
  color: blueviolet;
  transition: .25s;
}

main a:visited {
  color: crimson;
}

blockquote {
  background: purple;
  font-family: serif;
  font-style: italic;
  color: white;
  border-left: 8px solid darkgray;
  border-radius: 4px;
  padding: 1rem;
}

blockquote code, main code {
  font-family: monospace;
  font-style: initial;
  background: lightgray;
  border-radius: 4px;
  color: purple;
  margin: 4px;
  padding: 3px;
}

blockquote a, blockquote cite a {
  color: whitesmoke;
  text-decoration: underline dotted;
}

main code {
  letter-spacing: 0;
  font-size: 1em;
}

main pre {
  background: lightgray;
  padding: 1rem;
  border-radius: 4px;
  line-height: 1.1rem;
  overflow-x: scroll;
}

main pre code {
  background: lightgray;
  font-family: monospace;
  font-size: 0.8rem;
  letter-spacing: initial;
}

main table {
  font-family: monospace;
  letter-spacing: 0em;
  border-collapse: collapse;
  width: 100%;
}

main td, main th {
  border: 1px solid #ddd;
}

main table th {
  background: purple;
  color: whitesmoke;
  text-align: left;
  padding: 0.25rem;
}

main table tr:nth-child(odd) {
  background: lightgray;
}

.video {
  text-align: center;
}

iframe {
  width: 100%;
  max-width: 560px;
  max-height: 315px;
  border-color: purple;
}
