html {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  color: darkmagenta;
  letter-spacing: -1px;
  max-width: 70ch;
  margin: auto;
}

div .message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: purple;
  color: whitesmoke;
  padding: 4px;
  margin: 8px;
  border-radius: 4px;
}

.close-btn {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  color: purple;
  font-weight: bolder;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h3, h4, h5, h6 {
  border-left: 4px solid purple;
  padding: 1rem;
}

@keyframes manpage {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.man-trigger ~ .man-page {
  display: none;
}

.man-trigger ~ .man-page {
  display: none;
}

.man-trigger:checked ~ .man-page {
  display: initial;
  animation: manpage 2s ease-out;
}

.man-trigger {
  display: none;
}

.man-trigger-text {
  text-decoration: underline dotted;
  cursor: alias;
}

.logo {
  font-size: larger;
  font-weight: bolder;
  letter-spacing: -2px;
}

.tag-bar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 2px;
  align-content: space-between;
  margin-top: 0.5rem;
}

.vl {
  border-left: 2px solid purple;
  margin-left: 4px;
  margin-right: 4px;
}

.tag-count {
  display: inline;
  vertical-align: middle;
  text-align: center;
  font-family: monospace, sans-serif;
  font-size: x-small;
  font-weight: bolder;
  background: whitesmoke;
  color: purple;
  border-radius: 16px;
  padding: 2px 2px 2px 2px;
  margin-left: 4px;
  margin-right: 2px;
}

.tag-btn {
  background: purple;
  color: white;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  text-decoration: none;
  transition: .25s ease-in-out;
  font-variant: small-caps;
}

.tag-btn:visited {
  background: purple;
  color: gold;
}

.tag-btn:hover {
  background: white;
  color: purple;
  transition: .25s ease-in-out;
}

.tag-btn:visited .tag-count {
  background: gold;
  color: darkorchid;
}

.tag-btn:hover .tag-count {
  background: purple;
  color: white;
  transition: .25s ease-in-out;
}

#btn-back {
  background: purple;
  color: white;
  padding: 4px;
  border-radius: 4px;
  transition: .5s ease-in-out;
  border: none;
  font-variant: small-caps;
}

#btn-back:hover {
  background: white;
  color: purple;
  transition: .5s;
}

hr {
  border: 1px solid;
  color: purple;
}

footer, .date {
  background: purple;
  color: whitesmoke;
  padding: 4px;
  border-radius: 4px;
}

footer a {
  color: whitesmoke;
  text-decoration: underline dotted;
  font-variant: small-caps;
}

main ul {
  list-style: none;
  display: contents;
}

article ul {
  list-style: circle;
  display: block;
}

.date {
  margin-top: 0.5rem;
}

.a-date {
  font-family: Monospace;
  font-size: larger;
}

.content-link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.archives {
  display: flex;
  flex-flow: column wrap;
  column-gap: 8px;
  row-gap: 8px;
  padding-left: 0;
  margin-bottom: 0;
  height: 136px;
  overflow-x: scroll;
}

.archive-item .a-date {
 background: lavenderblush;
  padding: 2px 2px 2px 2px;
  /* border: 1px solid; */
  border-radius: 4px;
}

main a {
  color: purple;
  text-decoration: none;
  transition: .25s ease-in-out;
}

main a:visited {
  color: darkgray;
  transition: .25s ease-in-out;  
}

main a:hover {
  color: blueviolet;
  transition: .25s ease-in-out;
}

blockquote {
  background: purple;
  font-family: serif;
  font-style: italic;
  color: white;
  border-left: 8px solid darkgray;
  border-radius: 4px;
  padding: 1rem;
}

blockquote code, main code {
  font-family: monospace;
  font-style: initial;
  background: lightgray;
  border-radius: 4px;
  color: purple;
  margin: 4px;
  padding: 3px;
}

blockquote a, blockquote cite a {
  color: whitesmoke;
  text-decoration: underline dotted;
}

main code {
  letter-spacing: 0;
  font-size: 1em;
}

main pre {
  background: lightgray;
  padding: 1rem;
  border-radius: 4px;
  line-height: 1.1rem;
  overflow-x: scroll;
}

main pre code {
  background: lightgray;
  font-family: monospace;
  font-size: 0.8rem;
  letter-spacing: initial;
}

main table {
  font-family: monospace;
  letter-spacing: 0em;
  border-collapse: collapse;
  width: 100%;
}

main td, main th {
  border: 1px solid #ddd;
}

main table th {
  background: purple;
  color: whitesmoke;
  text-align: left;
  padding: 0.25rem;
}

main table tr:nth-child(odd) {
  background: lightgray;
}

.video {
  text-align: center;
}

iframe {
  width: 100%;
  max-width: 560px;
  max-height: 315px;
  border-color: purple;
}

.paginator {
  display: flex;
  align-items: center;
}

.page {
  font-variant: small-caps;
  font-size: small;
  font-weight: bolder;
  border: 1px solid purple;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  background: purple;
  color: whitesmoke;
}

.page-btn {
  background: lavenderblush;
  font-variant: small-caps;
  font-size: small;
  padding: 2px;
  margin-left: 4px;
  border: 1px solid;
  border-radius: 4px;
  letter-spacing: 0;
  
}

.inactive {
  opacity: 0.5;
  cursor: default;
}