* {
  text-align: justify;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background: whitesmoke;
  color: darkmagenta;
  letter-spacing: -1px;
  max-width: 100ch;
  margin: auto;
}

.logo {
  display: flex;
  align-items: baseline;
  width: 100%;
  font-family: Roboto, sans-serif;
  color: purple;
  overflow: scroll;
}

.logo-home {
  font-weight: bolder;
  color: purple;
  letter-spacing: -0.225vw;
  text-decoration: none;
  transition: .25s;
}

.logo-mg {
  font-weight: bolder;
  color: purple;
  margin-left: 0.25ch;
  text-decoration: none;
  transition: .25s;
}

.logo-home:hover, .logo-mg:hover {
  opacity: .5;
  transition: .25s;
}

div .message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: purple;
  color: whitesmoke;
  padding: 4px;
  margin: 8px;
  border-radius: 4px;
}

.close-btn {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, sans-serif;
  font-weight: bolder;
  text-align: left;
  color: purple;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h3, h4, h5, h6 {
  border-left: 4px solid purple;
  padding: 1rem;
}

@keyframes manpage {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.man-trigger ~ .man-page {
  display: none;
}

.man-trigger ~ .man-page {
  display: none;
}

.man-trigger:checked ~ .man-page {
  display: initial;
  animation: manpage 2s ease-out;
}

.man-trigger {
  display: none;
}

.man-trigger-text {
  text-decoration: underline dotted;
  cursor: help;
}

.logo {
  font-size: larger;
  font-weight: bolder;
  letter-spacing: -2px;
}

.tag-bar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2px;
  column-gap: 2px;
  margin-top: 0.5rem;
}

.vl {
  border-left: 2px solid purple;
  margin-left: 4px;
  margin-right: 4px;
}

.tag-count {
  display: inline;
  text-align: center;
  align-self: center;
  font-family: monospace;
  font-size: x-small;
  font-weight: normal;
  font-variant: normal;
  background: whitesmoke;
  color: purple;
  border-radius: 16px;
  padding: 2px 2px 2px 2px;
  margin-left: 4px;
  margin-right: 2px;
}

.tag-btn {
  display: flex;
  background: purple;
  color: white;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  text-decoration: none;
  font-variant: small-caps;
  transition: .25s ease-in-out;
}

.tag-btn:visited {
  background: purple;
  color: gold;
}

.tag-btn:hover {
  background: white;
  color: purple;
  transition: .25s ease-in-out;
}

.tag-btn:visited .tag-count {
  background: gold;
  color: darkorchid;
}

.tag-btn:hover .tag-count {
  background: purple;
  color: white;
  transition: .25s ease-in-out;
}

#dark-mode-button {
  border: none;
  font-size: x-small;
  font-weight: bold;
  font-variant: small-caps;
  background: purple;
  color: white;
  padding: 2px 2px 2px 2px;
  border-radius: 2px;
  vertical-align: middle;
  cursor: pointer;
}

.logo #dark-mode-button {
  margin-left: auto;
  align-self: center;
}

#btn-back {
  background: purple;
  color: white;
  padding: 4px;
  border-radius: 4px;
  transition: .25s ease-in-out;
  border: none;
  font-variant: small-caps;
}

#btn-back:hover {
  background: white;
  color: purple;
  transition: .25s;
}

.content-section {
  display: flex;
  align-items: baseline;
}

.content-section #btn-back {
  align-self: flex-end;
  margin-left: auto;
  font-size: x-small;
  font-weight: bold;
}

.page-title-section {
  display: flex;
}

.art-count {
  font-size: small;
  font-weight: bold;
  background-color: purple;
  color: whitesmoke;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}

.page-title-section .art-count {
  margin-left: 1ch;
  align-self: center;
}

hr {
  border: 1px solid;
  color: purple;
}

footer, .date {
  background: purple;
  color: whitesmoke;
  padding: 4px;
  border-radius: 4px;
}

footer a {
  color: whitesmoke;
  text-decoration: underline dotted;
  font-variant: small-caps;
}

main ul {
  list-style: none;
  display: contents;
}

article ul {
  list-style: circle;
  display: block;
}

.date {
  margin-top: 0.5rem;
}

.a-date {
  font-family: Monospace;
  font-size: larger;
}

.content-link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.new {
  font-size: x-small;
  font-weight: bold;
  font-variant: small-caps;
  background: purple;
  color: white;
  padding: 0px 2px 0px 2px;
  border-radius: 2px;
  vertical-align: middle;
}

.archives {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  column-gap: 8px;
  row-gap: 8px;
  padding-left: 0;
  margin-bottom: 0;
  height: 136px;
  overflow-x: scroll;
}

.archive-item .a-date {
  background: lavenderblush;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
}

main a {
  color: purple;
  text-decoration: none;
  transition: .25s ease-in-out;
}

main a:visited {
  color: darkgray;
  transition: .25s ease-in-out;  
}

main a:hover {
  color: blueviolet;
  text-decoration: 2px underline;
  transition: .25s ease-in-out;
}

blockquote {
  background: purple;
  font-family: serif;
  font-style: italic;
  color: white;
  border-left: 8px solid darkgray;
  border-radius: 4px;
  padding: 1rem;
}

blockquote code, main code {
  font-family: monospace;
  font-style: initial;
  background: lightgray;
  border-radius: 4px;
  color: purple;
  margin: 4px;
  padding: 3px;
}

blockquote a, blockquote cite a {
  color: whitesmoke;
  text-decoration: underline dotted;
  transition: .25s ease-in-out;
}

blockquote a:hover, blockquote cite a:hover {
  color: gold;
  transition: .25s ease-in-out;
}

main code {
  letter-spacing: 0;
  font-size: 1em;
}

main pre {
  background: lightgray;
  padding: 1rem;
  border-radius: 4px;
  line-height: 1.1rem;
  overflow-x: scroll;
}

main pre code {
  background: lightgray;
  font-family: monospace;
  font-size: 0.8rem;
  letter-spacing: initial;
}

main table {
  font-family: monospace;
  letter-spacing: 0em;
  border-collapse: collapse;
  width: 100%;
}

main td, main th {
  border: 1px solid #ddd;
}

main table th {
  background: purple;
  color: whitesmoke;
  text-align: left;
  padding: 0.25rem;
}

main table tr:nth-child(odd) {
  background: lightgray;
}

.search {
  font-family: Roboto, sans-serif;
  font-size: 6ch;
  font-weight: bolder;
  letter-spacing: -3.5px;
  background-color: transparent;
  color: purple;
  border: none;
  outline: none;
  width: 100%;
}

.keywords {
  background-color: white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.75ch;
  letter-spacing: -2px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  margin: 0;
  padding: 2px 2px 2px 2px;
  max-height: 60ch;
  overflow-y: scroll;
}

.keyword {
  display: flex;
  align-items: center;
  margin: 4px 4px 4px 4px;
  rotate: 20deg;
}

.keyword-1 {
  letter-spacing: initial;
  font-weight: lighter;
}

.keyword:nth-of-type(4n+1) {
  color: blueviolet;
}

.keyword:nth-of-type(4n+2) {
  color: plum;
}

.keyword:nth-of-type(4n+3) {
  color: violet;
}

.keyword:nth-of-type(4n+4) {
  color: darkorchid;
}

.video, .player {
  text-align: center;
}

iframe {
  width: 100%;
  border: none;
}

@keyframes message {
  0%   { transform: translateX(133%); opacity: 0%;   }
  100% { transform: translateX(0%);   opacity: 100%; }
}

@keyframes bg {
  from { width: 33%;  opacity: -100%; overflow: hidden; }
  to   { width: 100%; opacity: 100%;  overflow: hidden; }
}

.propaganda {
  font-family: Roboto, sans-serif;
  font-size: smaller;
  letter-spacing: 0;
  border-radius: 4px;
  background: darkmagenta;
  color: whitesmoke;
  padding: 2px 4px 2px 4px;
  overflow-x: scroll;
  animation: bg 2s linear;
}

.propaganda a {
  color: white;
  font-weight: bold;
}

.p-message {
  white-space: nowrap;
  animation: message 2s linear;
}

.paginator {
  display: flex;
  align-items: center;
}

.page {
  font-variant: small-caps;
  font-size: small;
  font-weight: bolder;
  border: 1px solid purple;
  padding: 2px 2px 2px 2px;
  border-radius: 4px;
  background: purple;
  color: whitesmoke;
}

.page-btn {
  background: purple;
  color: whitesmoke;
  font-variant: small-caps;
  font-size: small;
  padding: 2px;
  margin-left: 4px;
  border: 1px solid;
  border-radius: 4px;
  letter-spacing: 0;
}

.page-btn-inactive {
  background: purple;
  color: whitesmoke;
  font-variant: small-caps;
  font-size: small;
  padding: 2px;
  margin-left: 4px;
  border: 1px solid;
  border-radius: 4px;
  letter-spacing: 0;
}

.page-btn:hover {
  background: lavenderblush;
  color: purple;
  border: 1px solid lavenderblush;
  text-decoration: none;
  transition: .25s;
}

.inactive {
  opacity: 0.5;
  cursor: default;
}

@media (min-width: 442px) {
  .logo-home {
    font-size: clamp(2ch, 4vw, 5ch);
  }
  .logo-mg {
    font-size: clamp(1.5ch, 2.5vw, 3.5ch);
  }
}

@media (max-width: 441px) {

  .logo-home {
    font-size: 2ch;
  }

  .logo-mg {
    font-size: 1.5ch;
  }

  .logo-home, .logo-mg {
    letter-spacing: -1.5px;
  }

  .tag-bar {
    margin: auto;
  }

  .tag-btn-count > .tag-btn {
    display: flex;
    text-align: center;
    padding: 2px 2px 6px 2px;
    flex-direction: column;
  }

  .tag-count {
    width: 10ch;
  }

  .man-page {
    display: none;
  }

  #btn-back {
    text-align: center;
  }

  h1 {
    font-size: 3ch;
    letter-spacing: -2px;
  }

  footer {
    font-size: smaller;
    white-space: nowrap;
    overflow-x: scroll;
  }

  footer a {
    font-variant: initial;
  }
}
