{% extends 'home/base.html' %}
{% block title %}tigerfunk.tk [404]{% endblock %}
{% block body %}
      <h1 style="font-size: xxx-large;"><strong>&#x1F631; 404</strong></h1>
      <main>
        <h2><strong>Sainte Mère de Dieu !</strong></h3>
        <hr>
        <p>
        La <b>page</b> que vous souhaitez consulter <b>n'existe plus</b> ou, pire encore, <b>n'a jamais existé !</b><br>
        Nous vous invitons à <em>retourner à la page d'accueil</em> en cliquant sur le lien <b style="font-variant: small-caps;">accueil</b> situé ci-dessous.
        </p>
      </main>
{% endblock %}
