{% extends 'home/base.html' %}
{% block title %}tigerfunk.tk [500]{% endblock %}
{% block body %}
    <h1><b style="font-variant: small-caps;">TIGERFUNK.TK</b> 500mg</h1>
    <hr>
    <h2 style="font-size: xx-large;"><strong>&#x1F631; 500</strong></h2>
    <main>
      <h3><strong>Doux Jésus !</strong></h3>
      <hr>
      <p>
        Le <b>serveur</b> rencontre actuellement une <b>erreur interne</b> !<br>
        Soyez assuré que <u>toute l'équipe</u> de <b style="font-variant: small-caps;">TIGERFUNK.TK</b> est sur le qui-vive et cherche une <b>solution rapide !</b><br>
        <br>
        Nous vous invitons à vous connecter <em>ultérieurement.</em>
      </p>
    </main>
{% endblock %}
