{% extends 'home/base.html' %}
{% block title %}tigerfunk.tk [archives]{% endblock %}
{% block body %}
      <h1><b>ARCHIVES:{{ month|date:'F:Y'|upper }}</b></h1>
      <hr>
      <main>
        <h2><b>Contenu</b></h2>
        <hr>
        <div class="article-list-section">
          <ul>
          {% for article in articles %}
            <li class="content-link"><span class="a-date">{{ article.date|date:'Ymd' }}</span> <a href="{% url 'detail' article.uid %}"><strong>{{ article.title }}</strong></a></li>
          {% endfor %}
          </ul>
        </div>
        <hr>
        <button id="btn-back" type="button" onclick="history.back()">retour</button>
      </main>
{% endblock %}
