{% load static %}
{% load home_night %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="music, musique, videos, vidéos, blog, tigerfreq, tigerfunk, tigerlost, teegre, umal115">
    <meta name="subject" content="TIGERFUNK.TK: productions musicales.">
    <meta name="description" content="TIGERFUNK.TK 500mg: productions musicales variées.">
    <meta name="author" content="Stéphane MEYER">
    <meta name="designer" content="Stéphane MEYER">
    <meta name="copyright" content="© {% now 'Y' %} tigerfunk.tk">
    {% if article %}
    <meta name="og:title" content="{{ article.title }}">
    {% if article.og_type %}
    <meta name="og:type" content="{{ article.og_type }}">
    {% endif %}
    {% if article.og_image %}
    {% with img_url=domain|add:article.og_image %}
    <meta name="og:image" content="{{ img_url }}">
    {% endwith %}
    {% endif %}
    <meta name="og:url" content="{{ current_url }}">
    {% else %}
    <meta name="og:title" content="TIGERFUNK.TK">
    <meta name="og:type" content="website">
    <meta name="og:image" content="{% static 'home/img/og-default-img.svg' %}">
    <meta name="og:url" content="https://tigerfunk.tk">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
    <link rel="shortcut icon" type="img/x-icon" href="{% static 'home/img/favicon.png' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <script>
      function isDarkMode() {
        let cookies = document.cookie.split(";");
        for (var i=0; i<cookies.length; i++) {
          let cookie = cookies[i].split("=");
          let key = cookie[0].trim();
          let value = cookie[1];
          if (key === "dark-mode") {
            if (value === "true")
              return 1;
            else
              return 2;
          }
        }
        if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches)
          return 1
        return 0;
      }

      function toggleDarkMode() {
        let css = document.getElementById("dark-mode");
        if (!css) {
          // Load dark mode
          let head = document.getElementsByTagName("head")[0];
          let css = document.createElement("link");
          css.rel = "stylesheet";
          css.type = "text/css";
          css.href = "{% static 'home/css/style-dark.css' %}";
          css.setAttribute("id", "dark-mode");
          head.appendChild(css);
          document.getElementById("dark-mode-button").innerText = "thème:nuit"
          document.cookie = "dark-mode=true; samesite=lax; path=/";
        } else {
          // Unload dark mode
          css.parentNode.removeChild(css);
          document.getElementById("dark-mode-button").innerText = "thème:jour"
          document.cookie = "dark-mode=false; samesite=lax; path=/";
        }
      }
    </script>
    <div>
      <header>
        <hr>
        <div class="logo">
          <a class="logo-home" href="{% url 'index' %}">TIGERFUNK.TK</a>
          <a class="logo-mg" href="{% url 'all' %}">500mg</a>
          <button id="dark-mode-button" onclick="toggleDarkMode()">
            thème:jour
          </button>
          <script>
            if (isDarkMode() === 1)
              toggleDarkMode();
            {% is_night as night %}
            {% if night is True %}
            if (isDarkMode() === 0)
              toggleDarkMode();
            {% endif %}
          </script>
        </div>
        <hr>
      {% block header %}
      {% endblock %}
      </header>
      {% include 'home/messages.html' %}
      {% block body %}
      {% endblock %}
      <hr>
      <script>
        if (isDarkMode() === 1) {
          document.getElementById("dark-mode-button").innerText = "thème:nuit";
        } else {
          document.getElementById("dark-mode-button").innerText = "thème:jour";
        }
      </script>
      <footer>
        © {% now 'Y' %} <b>tigerfunk.tk</b>
        &blacksquare; <a href="{% url 'index' %}">accueil</a>
        &blacksquare; <a href={% url 'feed' %}>rss</a>
        &blacksquare; <a href="https://odysee.com/@tigerfreq:9" target="_blank">odysee</a>
        &blacksquare; <a href="https://libre.fm/user/teegre" target="_blank">libre.fm</a>
        &blacksquare; <a href="https://tigerfreq1.bandcamp.com" target="_blank">bandcamp</a>
      </footer>
    </div>
  </body>
</html>
