{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="music, musique, videos, vidéos, blog, tigerfreq, tigerfunk, tigerlost, teegre, umal115">
    <meta name="subject" content="TIGERFUNK.TK: productions musicales.">
    <meta name="description" content="TIGERFUNK.TK 500mg: productions musicales variées.">
    <meta name="author" content="Stéphane MEYER">
    <meta name="designer" content="Stéphane MEYER">
    <meta name="copyright" content="© {% now 'Y' %} tigerfunk.tk">
    {% if article %}
    <meta property="og:title" content="{{ article.title }}">
    {% if article.og_type %}
    <meta property="og:type" content="{{ article.og_type }}">
    {% endif %}
    {% if article.og_image %}
    {% with img_url=domain|add:article.og_image %}
    <meta property="og:image" content="{{ img_url }}">
    {% endwith %}
    {% endif %}
    <meta property="og:url" content="{{ current_url }}">
    {% else %}
    <meta property="og:title" content="TIGERFUNK.TK">
    <meta property="og:type" content="website">
    {% with img_url=domain|add:'static/home/img/og-default-img.png' %}
    <meta property="og:image" content="{{ img_url }}">
    {% endwith %}
    <meta property="og:url" content="https://tigerfunk.tk">
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}">
    <link rel="shortcut icon" type="img/x-icon" href="{% static 'home/img/favicon.png' %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="{% static '/home/js/dark-mode-manager.js' %}"></script>
  </head>
  <body>
    <div>
      <header>
        <hr>
        <div class="logo">
          <a class="logo-home" href="{% url 'index' %}">TIGERFUNK.TK</a>
          <a class="logo-mg" href="{% url 'all' %}">500mg</a>
          <button id="dark-mode-button" onclick="toggleDarkMode()">
            thème:jour
          </button>
          <script>
            if (isDarkMode() === 1) {
              document.getElementById("dark-mode-button").innerText = "thème:nuit";
            } else {
              document.getElementById("dark-mode-button").innerText = "thème:jour";
            }
          </script>
        </div>
        <hr>
      {% block header %}
      {% endblock %}
      </header>
      {% include 'home/messages.html' %}
      {% block body %}
      {% endblock %}
      <hr>
      <footer>
        © {% now 'Y' %} <b>tigerfunk.tk</b>
        &blacksquare; <a href="{% url 'index' %}">accueil</a>
        &blacksquare; <a href={% url 'feed' %}>rss</a>
        &blacksquare; <a href="https://odysee.com/@tigerfreq:9" target="_blank">odysee</a>
        &blacksquare; <a href="https://libre.fm/user/teegre" target="_blank">libre.fm</a>
        &blacksquare; <a href="https://tigerfreq1.bandcamp.com" target="_blank">bandcamp</a>
      </footer>
    </div>
  </body>
</html>
