{% extends 'home/base.html' %}
{% block title %}tigerfunk.tk | {{ article.title }}{% endblock %}
{% block header %}
  <h1>{{ article.title }}</h1>
  <div class="date">
    <time class="small ml-1">Le {{ article.date|date:'d F Y' }}</time>
  </div>
  <hr>
{% endblock %}
{% block body %}
  <main>
    <article>{{ article.entry|safe }}</article>
    <hr>
    <div class="tag-bar">
      <button id="btn-back" type="button" onclick="history.back()">retour</button>
      <span class="vl"></span>
      {% for tag in article.tag.get_queryset %}
      <a class="tag-btn" href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </main>
{% endblock %}
