{% extends 'home/base.html' %}
{% block title %}tigerfunk.tk [home]{% endblock %}
{% block body %}
      <h1><span class="logo">TIGERFUNK.TK</span> 500mg</h1>
      <hr>
      <h2><b>Substances actives</b></h3>
      <div class="tag-bar">
      {% for tag in tags %}
        <a class="tag-btn" href="{% url 'tag' tag.tag__id %}">{{ tag.tag__name }}({{ tag.count }})</a>
      {% empty %}
        <small>Aucune</small>
      {% endfor %}
      </div>
      <h2><b>Mode d'administration</b></h2>
      Voie auditive &#128066;&#127995; et/ou voie visuelle &#128065;.
      <h2><b>Posologie</b></h2>
      <b>1</b> contenu <strong>minimum par jour</strong> <i>sans limite de durée</i>.
      <h2><b>Précautions d'emploi</b></h2>
      &dash; Veillez à regarder les <b>vidéos</b> dans une <b>pièce bien éclairée</b>.<br>
      &dash; Ecoutez la <b>musique</b> à un <b>volume modéré</b>.<br><br>
      <small><strong>⚠️ Le dépassement éventuel des doses prescrites ne présente aucunement un danger pour la santé.</strong></small>
      <main>
        <h2><b>Contenu</b></h2>
        <small>À consommer dans les 30 jours.</small>
        <hr>
        <ul>
        {% for article in articles %}
          {% if article.recently_published %}
          <li><span class="a-date">{{ article.date|date:'Ymd' }}</span> <a href="{% url 'detail' article.id %}"><strong>{{ article.title }}</strong></a></li>
          {% endif %}
        {% empty %}
          <li><strong>Nihil novi sub sole.</strong></li>
        {% endfor %}
        </ul>
        <h2><b>Contenu expiré</b></h2>
        <small>Contenu ayant dépassé la durée limite de 30 jours.</small>
        <hr>
        {% regroup archives by date.month as article_list %}
        <ul>
        {% for month, arts in article_list %}
        {% with article=arts|first %}
        <li><a class="a-date" href="{% url 'archive' article.date.year month %}"><strong>{{ article.date|date:'Y/m' }}</strong></a></li>
        {% endwith %}
        {% empty %}
          <li><strong>Rien ici.</strong></li>
        {% endfor %}
        </ul>
      </main>
{% endblock %}
