{% extends 'home/base.html' %}
{% block title %}tigerfunk.tk [home]{% endblock %}
{% block body %}
      <h1><b>Bienvenue</b></h1>
      <p>
      Bonjour, si vous trouvez quelque chose d'intéressant ici, faites-le moi savoir.
      </p>
      <main>
        <h2><b>Publications</b></h2>
        <hr>
        <ul>
        {% for article in articles %}
          {% if article.recently_published %}
          <li>{{ article.date|date:'Ymd' }} <a href="{% url 'home:detail' article.id %}"><strong>{{ article.title }}</strong></a></li>
          {% endif %}
        {% empty %}
          <li><strong>Nihil novi sub sole.</strong></li>
        {% endfor %}
        </ul>
        <h2><b>Archives</b></h2>
        <hr>
        {% regroup archives by date.month as article_list %}
        <ul>
        {% for month, arts in article_list %}
        {% with article=arts|first %}
          <li><a href="{% url 'home:archive' article.date.year month %}"><strong>{{ article.date.year }}/{{ month }}</strong></a></li>
        {% endwith %}
        {% empty %}
          <li><strong>Pas d'archives</strong></li>
        {% endfor %}
        </ul>
      </main>
{% endblock %}
