{% extends 'home/base.html' %}
{% block title %}tigerfunk.tk [{{ tag.name }}]{% endblock %}
{% block body %}
      <h1><b>ÉTIQUETTE:{{ tag.name|upper }}</b></h1>
      <main>
      Publications étiquetées <span class="tag-btn">{{ tag.name }}</span>
      <hr>
      <ul>
      {% for article in tag.article_set.get_queryset %}
        <li><span class="a-date">{{ article.date|date:'Ymd' }}</span> <a href="{% url 'detail' article.id %}"><strong>{{ article.title }}</strong></a></li>
      {% empty %}
        <li><strong></strong></li>
      {% endfor %}
      </ul>
      <hr>
      <button id="btn-back" type="button" onclick="history.back()">Retour</button>
    </main>
{% endblock %}
